[submodule "cms"]
	path = cms
	url = https://github.com/tronghieu60s/phimmoinha-cms.git
[submodule "web"]
	path = web
	url = https://github.com/tronghieu60s/phimmoinha-web.git
[submodule "server"]
	path = server
	url = https://github.com/tronghieu60s/phimmoinha-server.git
[submodule "tools"]
	path = tools
	url = https://github.com/tronghieu60s/phimmoinha-tools.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/tronghieu60s/phimmoinha-schedule.git
