.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.align-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.justify-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}
