.text-normal {
  text-transform: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-overline {
  text-decoration: overline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-decoration-blink {
  text-decoration: blink !important;
}